<?php
/** @var \IdeaInYou\FirstModule\Block\Hello $block */
/** @var \Magento\Framework\Escaper $escaper */
//$block->createReview();
?>
<div class="banner-wrapper">
    <?php
    echo $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('index_page_banner')
        ->toHtml();
    ?>
</div>

<div class="top-products">
    <div class="best-sallers">
        <h3><?php echo $escaper->escapeHtml(('Best sellers')) ?></h3>
        <p><?php echo $escaper->escapeHtml(('The best productions from us')) ?></p>
        <p><?php echo $escaper->escapeHtml(('Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')) ?></p>
    </div>
    <div class="cruise">
        <div class="product-img"><a href="">Image</a></div>
        <h3><?php echo $escaper->escapeHtml(('Cruise Dual Analog')) ?></h3>
        <p class="price"><?php echo $escaper->escapeHtml(('$250.00')) ?></p></div>
    <div class="summit-backpack">
        <div class="product-img"><a href="">Image</a></div>
        <h3><?php echo $escaper->escapeHtml(('Crown Summit Backpack')) ?></h3>
        <p class="price"><?php echo $escaper->escapeHtml(('$250.00')) ?></p></div>
    <div class="duffle-bag">
        <div class="product-img"><a href="">Image</a></div>
        <h3><?php echo $escaper->escapeHtml(('Joust Duffle Bag')) ?></h3>
        <p class="price"><?php echo $escaper->escapeHtml(('$250.00')) ?></p></div>

    <div class="yoga-bag">
        <div class="product-img"><a href="">Image</a></div>
        <h3><?php echo $escaper->escapeHtml(('Voyage Yoga Bag')) ?></h3>
        <p class="price"><?php echo $escaper->escapeHtml(('$250.00')) ?></p></div>
</div>


<div class="offer-wrapper">
    <div class="offer-item">
        <img src='<?php echo $this->getViewFileUrl('images/diamond_2135.png'); ?>' alt="diamond">
        <h3><?php echo $escaper->escapeHtml(('Special offer')) ?></h3>
        <p><?php echo $escaper->escapeHtml(('Shop Big Save Big')) ?></p></div>
    <div class="free-delivery">
        <img src='<?php echo $this->getViewFileUrl('images/plane_2_2141.png'); ?>' alt="delivery">
        <h3><?php echo $escaper->escapeHtml(('Free delivery')) ?></h3>
        <p><?php echo $escaper->escapeHtml(('On Orders Above $99')) ?></p></div>
    <div class="days-return">
        <img src='<?php echo $this->getViewFileUrl('images/share_2147.png'); ?>' alt="share">
        <h3><?php echo $escaper->escapeHtml(('30 Days Return')) ?></h3>
        <p><?php echo $escaper->escapeHtml(('Policy We Offers')) ?></p></div>
    <div class="fastest-shipping">
        <img src='<?php echo $this->getViewFileUrl('images/rocket_2153.png'); ?>' alt="rocket">
        <h3><?php echo $escaper->escapeHtml(('Fastest Shipping')) ?></h3>
        <p><?php echo $escaper->escapeHtml(('2 Days Express')) ?></p></div>
</div>

<div id="test-component" data-bind="scope:'helloComponent'">
<!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
            {
                "#test-component": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                }
            }
</script>


