<?php /* @var Magento\Framework\View\Element\Template
 * @var \IdeaInYou\Review\Block\Product\Review $block*/ ?>


<div class="mage-template" style="padding: 30px; border: 1px solid darkred" data-mage-init='{"mageTemplateExample":{}}'>

    <p><?= $block->getData('zalupa'); ?></p>

</div>




<div class="mage-template" style="padding: 30px; border: 1px solid darkred" data-mage-init='{"mageTemplateExampleExtend":{}}'>

    <p><?= $block->getData('Test new extend'); ?></p>
</div>


<!-- widget off-->
<!--if need - init imageWidget.js -->
<div class="image-widget" id="myWidget">
   <div class="widget-content">
    <div class="email-input">
       <h4 class="email"><?= __('Email') ?></h4>
       <input type="email" id="email" placeholder="Email">
       <button type="submit">Submit</button>
   </div>
    <div class="widget-image">
        <img class="polaroid-img" src='<?php echo $this->getViewFileUrl('images/modal-img.jpg'); ?>' alt=”widget-image” />
    </div>
   </div>
</div>




