
//
//  Global styles
& when (@media-common = true) {

    .banner-wrapper {
        .lib-css(height, 800px);
        .lib-css(width, 100%);
        .lib-css(background, @banner-dark-color);
    }

    .banner-title {
        text-transform: uppercase;
        font-weight: @font-weight__bold;
        font-size: 60px;

    }

    .banner-woocommerce {
        color: @white-green-color;

    }

    .banner-lorem {
        font-size: 16px;
    }

    .main-banner-content {

        a {
            .lib-css(text-decoration, none);
            .lib-button-primary(
            @_button-background: @banner-dark-color,
            @_button-border: 1px solid @color-black_dark,
            @_button-border-active: none
            );
            font-size: 14px;
        }
    }
    }

    .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
        .page-title {
            .base {
                color: yellow;
            }
        }
    }

    .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        .page-main {
            padding: 0;
        }
        .page-title {
            .base {
                color: red;
            }
        }
        .main-banner-content {
            padding: 276px 987px 276px 389px;
        }
        .offer-wrapper {
            .lib-vendor-prefix-display();
            justify-content: space-around;
            margin-top: 40px;
            text-align: center;

        }
        .logo{
            margin: 15px auto 16px 21px;
        }

        .header.content {
               display: flex;
        }
        .header.links{
            display: flex;
        }

        .top-products{
            display: flex;
            align-items: center;
            text-align: left;
            margin: 60px;
        }
        .price {
            color: @white-green-color;
        }
        .best-sallers{
            margin-right: 20px;
            p {
                line-height: 24px;
            }
            h3 {
                text-transform: uppercase;
                line-height: 24px;
                font-size: 30px;
                font-weight: 400;
            }
        }
        .product-img {
            background: @banner-dark-color;
            width: 300px;
            height: 450px;
            margin: 0px 20px 20px auto;
        }

    }



