<button class="action primary" data-bind="click: componentClick" id="add_store">Add Store</button>

<h1>asdasd</h1>

<div class="store-form-input" style="display: none">
    <form id="store_form">
        <input class="store-name" type="text" id="name" placeholder="Name" name="name">
        <label for="address">Address</label>
        <input class="address" type="text" id="address">
        <label for="country">Country</label>
        <input id="country" type="text" placeholder="Country" name="country">
        <label for="region">Region</label>
        <input type="text" id="region" placeholder="State" name="state">
        <label for="city">City</label>
        <input type="text" id="city" placeholder="city" name="city">
        <label for="house">House</label>
        <input id="house" type="text" placeholder="House" name="house">
        <label for="street">Street</label>
        <input id="street" type="text" placeholder="Street" name="street">
        <input type="text" id="longitude" placeholder="longitude" name="longitude">
        <input type="text" id="latitude" placeholder="latitude" name="latitude">
        <button class="action primary" type="submit">Submit</button>
        <div class="message-success success message" style="display: none" id="addStoreMessage">
            <div>Thank You for Store</div>
        </div>
    </form>
</div>






