//Common
& when (@media-common = true) {
    .header-info-block-wrapper {
        .lib-css(background, @color-black, 1);
        .lib-css(color, @color-white);
    }

}

//Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-title {
        .base {
            color: green;
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .header-info-block-wrapper {
        .lib-vendor-prefix-display();
        .lib-css(justify-content, space-between);

        div {
            margin: 10px 20px;
        }
    }

    .first-info
    {
        .lib-vendor-prefix-display();
        span {
            margin-left: 15px;
        }
    }
    .phone{
        .lib-icon-image(@_icon-image: '@{baseDir}images/call.svg');
    }
    .e-mail{
        .lib-icon-image(@_icon-image: '@{baseDir}images/email.svg');
    }
    .second-info{
        .lib-vendor-prefix-display();


    }
    .facebook-logo{
            .lib-icon-image(@_icon-image: '@{baseDir}images/-facebook.svg');
    }
    .twitter-logo{
        .lib-icon-image(@_icon-image: '@{baseDir}images/twitter.svg');
    }
    .instagram-logo{
        .lib-icon-image(@_icon-image: '@{baseDir}images/instagram.svg');
    }
    .linkedin-logo{
        .lib-icon-image(@_icon-image: '@{baseDir}images/-linkedin.svg');
    }
    .behance-logo{
        .lib-icon-image(@_icon-image: '@{baseDir}images/behance.svg');
    }
    .polaroid-img{
        height: 400px;
        width: auto;
    }
    .email-input{
        width: 600px;
    }

    .image-widget{
        display: none;
    }

    .my-store-locator{
        display: flex;
        justify-content: space-around;
    }
    #map {
        width: 850px;
        height: 500px;

    }
    .my-store-list{
        cursor: pointer;
        max-height: 500px;
        overflow: scroll;
        width: 300px;
    }
    #test_map{
        width: 850px;
        height: 500px;
    }

    #lnglat
    {
        display: none;
    }
    .lat-list{
        display: none;
    }
    .store-id-list{
        display: none;
    }
    .lng-list{
        display: none;
    }
    #add_store{
        margin: 10px 10px 20px 30px;
    }
    #target_map{
        color: #121212;
        text-decoration: none;
    }
    #just_store span{
        font-weight: 400;
    }
}
