<?php
/**
 * @var \IdeaInYou\Review\Block\Stores\Stores $block
 */
$collection = $block->getStores();
?>

<script type="text/javascript">
    var autocomplete
    function initMap() {
        var inputs = document.querySelector('#address');
        autocomplete = new google.maps.places.Autocomplete(inputs);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                alert('Error');
            }
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
            document.getElementById('latitude').value = place.geometry.location.lat();
            document.getElementById('longitude').value = place.geometry.location.lng();
            var city = '';
            var street = '';
            var house = '';
            var region = '';
            var country = '';
            var tmp = '';
            place.address_components.forEach(function (item) {
                tmp = item.long_name;
                if (item.types) {
                    item.types.forEach(function (t) {
                        switch (t) {
                            case 'street_number':
                                house = tmp;
                                break;
                            case 'route' :
                                street = tmp;
                                break;
                            case 'administrative_area_level_1' :
                            case 'administrative_area_level_2' :
                                region = tmp;
                                break;
                            case 'country' :
                                country = tmp;
                                break;
                            case 'postal_town' :
                            case 'locality' :
                                city = tmp;
                                break;
                        }
                    });
                }
            });
            document.getElementById('city').value = city;
            document.getElementById('street').value = street;
            document.getElementById('house').value = house;
            document.getElementById('region').value = region;
            document.getElementById('country').value = country;
        });
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHWspkQVXb_6lJ06xD2yHIGTsg7Syzxz8&libraries=places&callback=initMap"></script>




