<?php
/**
 * @var \IdeaInYou\Review\Block\Stores\Stores $block
 */
$collection = $block->getStores();
?>
<div class="my-store-locator">
    <div class="my-store-list" id="test_store_list">
        <?php foreach ($collection as $stores) : ?>
            <div id="just_store">
                <div id="my_store_<?= $stores->getID() ?>"></span>
                    <div>Name: <span><?= $stores->getName() ?></span></div>
                    <div class="store-id-list">ID: <span><?= $stores->getID() ?></span></div>
                    <div>City: <span><?= $stores->getCity() ?></span></div>
                    <div>State: <span><?= $stores->getState() ?></span></div>
                    <div class="lng-list" id="lng">Longitude: <span><?= $stores->getLongitude() ?></span></div>
                    <div class="lat-list" id="lat">Latitude: <span><?= $stores->getLatitude() ?></span></div>
                    <div class="location_info" name="<?= $stores->getName() ?>"
                         target="<?= $stores->getLatitude() ?>, <?= $stores->getLongitude() ?>">
                        <a id="target_map">Move</a>
                    </div>
                    <hr>
                </div>
            </div>
        <?php endforeach; ?>
    </div>


    <div class="my-map" id="map">


        <script type="text/javascript">
            jQuery(document).ready(function () {
                var _locations = [];
                var c = 0;
                var arr_target = [];
                jQuery('.my-store-list #target_map').each(function () {
                    _locations.push(get_target(_locations, c, jQuery(this)));
                    initialize(_locations);
                });
                jQuery('.my-store-list #target_map').mouseenter(function () {
                    var arr_target = get_target(_locations, c, jQuery(this));
                    initialize(_locations, arr_target[1], arr_target[2]);
                });
            });

            function get_target(_locations, c, _this) {
                var res = null;
                var maptarget = _this.parent().attr('target');
                var text_l = _this.parent().attr('name');
                if (maptarget) {
                    c++;
                    res = maptarget.split(", ");
                }
                var arr_target = [text_l, parseFloat(res[0]), parseFloat(res[1]), c];
                return arr_target;
            }
        </script>
        <script type="text/javascript">
            function initialize(locations, x = locations[0][1], y = locations[0][2]) {

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17,
                    center: new google.maps.LatLng(x, y),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    panControl: false,
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: true,
                    overviewMapControl: false,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    }
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;
                var marker_image = 'https://cdn-icons-png.flaticon.com/512/5505/5505369.png';
                var pinIcon = new google.maps.MarkerImage(marker_image, null, null, null, new google.maps.Size(60, 40));

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        animation: google.maps.Animation.DROP,
                        label: {
                            text: locations[i][0],
                        },
                        icon: pinIcon,
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        </script>
    </div>
</div>


<div id="store-component" data-bind="scope:'storeComponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
            {
                "#store-component": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */$block->getJsLayout() ?>
                },

                 "*": {
                    "storeForm": {
                        "formSelector": "#store_form",
                        "submitUrl": "<?= $block->getUrl('ideainyou_review/ajax/SaveStore') ?>",
                        "messageSelector": "#addStoreMessage"
                    }
                },
                "#store_form": {
                }

            }
</script>



