<?php
/**
 * @var \IdeaInYou\Review\Block\Product\Review $block
 */
$collection = $block->getReviews();
?>

<hr>
<div class="message-success success message" style="display: none" id="addReviewMessage">
    <div><?= __('Thank You for Review') ?></div>
</div>

<button id="button">
    <span><?= $block->escapeHtml(__('Click me')) ?></span>
</button>

<div id="modal">
    <div class="modal-body-content">
        <form id="review_form">
            <h3 class="title"><?= __('Write new review') ?></h3>
            <h4 class="Nickname"><?= __('Nickname') ?></h4>
            <input class="<?= $block->getIsLoggedIn() ? "readonlyInput" : ''?>" type="text" id="author" placeholder="Author" name="author" value="<?=
            $block->getIsLoggedIn() ? $block->getCurrentCustomer()->getFirstname() . ' ' . $block->getCurrentCustomer()->getLastname() : ''
            ?>" <?= $block->getIsLoggedIn() ? "readonly" : ''?>>
            <h4 class="Nickname"><?= __('Summary') ?></h4>
            <input type="text" id="content" placeholder="Content" name="content">
            <h4 class="Review"><?= __('Review') ?></h4>
            <textarea class="review-area" id="review_area">
            </textarea>
            <input type="hidden" name="product_id" id="product_id" value="<?= $block->getProduct()->getId() ?>">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

        var options = {
            type: 'popup',
            responsive: true,
            title: "You're reviewing: my config",
            buttons: [{
                text: $.mage.__('Ok'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };

        var popup = modal(options, $('#modal'));
        $("#button").click(function() {
            $('#modal').modal('openModal');
        });
    });
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "modalReviewForm": {
                "formSelector": "#review_form",
                "submitUrl": "<?= $block->getUrl('ideainyou_review/ajax/save') ?>",
                "messageSelector": "#addReviewMessage"
            }
        }
    }
</script>


